.login-body {
    font-family: Times, Times New Roman, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
	background-color: #e6e2d3;
    background-repeat: no-repeat;
    background-size: cover;
}
        .login-container {
            padding: 50px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 400px; /* Fix the size of the container */
            box-sizing: border-box;
        }
        .login-container h2 {
            margin-top: 0;
            margin-bottom: 20px;
            text-align: center;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
        }
        .form-group input {
            width: 100%;
            padding: 5px;
            border: 2px solid  #654321;
            border-radius: 4px;
        }
        .button-container {
            display: flex;
            justify-content: center;
        }
        .login-button {
          font-family: Times, Times New Roman, serif;
            width: 50%;
            padding: 10px;
            background-color: #654321;
            border: none;
            border-radius: 4px;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
        }
        .login-button:hover {
            background-color: #543210;
        }
        @media (max-width: 480px) {
            .login-container {
                padding: 20px;
            }
            .login-button {
                width: 100%;
            }
        }